h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
}

h3 {
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: x-large;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  text-align: center;
  width: 60em;
  height: 40em;
  margin-right: auto;
  margin-left: auto;
}
.tile {
  color: aliceblue;
  background-color: rgb(27, 62, 119);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: xx-large;
  transition-duration: 0.1s;
  border-style: inset;
}

.tile:hover {
  background-color: rgb(12, 109, 183);
  color: rgb(255, 255, 255);
}
.tile:active {
  background-color: green;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
  border-style: double;
}

#start {
  color: aliceblue;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin-bottom: auto;
}

.correct {
  background-color: green;
  border-radius: 1px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: xx-large;
  border-style: inset;
  font-weight: bold;
}

#you-win {
  text-align: center;
  color: #b74d26;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
